<div
  class="col-auto"
  id="followingcontain"
  style="
    width: 900px;
    margin-left: 75px;
    border-style: none;
    background: rgb(255, 255, 255);
    padding: 0px;
    height: auto;
    margin-bottom: 50px;
  "
>
  <h1 style="margin-left: 45px; margin-top: 15px">Following</h1>
  <div
    id="followingrow"
    style="
      margin-top: 25px;
      margin-left: 0px;
      margin-right: 0px;
      border-width: 1px;
      border-style: none;
      text-align: left;
      height: 76px;
      float: right;
      width: 100%;
    "
  >
    <span style="margin-top: 0px"
      ><img
        id="followingimg"
        src="/assets/img/joker.png"
        style="
          width: 65px;
          height: 65px;
          display: inline-block;
          border-radius: 50px;
          margin-left: 45px;
          margin-top: 0px;
        "
      /><small
        id="followingname"
        style="margin-left: 25px; margin-top: 0px; font-size: 16px"
        >Kobe Bryant</small
      ><button
        class="btn btn-primary"
        id="followbtn"
        type="button"
        style="
          background: rgb(69, 69, 69);
          border-color: rgb(255, 255, 255);
          color: rgb(255, 255, 255);
          float: right;
          margin-left: 0px;
          margin-top: 15px;
          margin-right: 45px;
        "
      >
        Unfollow
      </button></span
    >
  </div>
  <div
    id="followingrow"
    style="
      margin-top: 25px;
      margin-left: 0px;
      margin-right: 0px;
      border-width: 1px;
      border-style: none;
      text-align: left;
      height: 76px;
      float: right;
      width: 100%;
    "
  >
    <span style="margin-top: 0px"
      ><img
        id="followingimg"
        src="/assets/img/meeting.jpg"
        style="
          width: 65px;
          height: 65px;
          display: inline-block;
          border-radius: 50px;
          margin-left: 45px;
          margin-top: 0px;
        "
      /><small
        id="followingname"
        style="margin-left: 25px; margin-top: 0px; font-size: 16px"
        >Lebron James</small
      ><button
        class="btn btn-primary"
        id="followbtn"
        type="button"
        style="
          background: rgb(69, 69, 69);
          border-color: rgb(255, 255, 255);
          color: rgb(255, 255, 255);
          float: right;
          margin-left: 0px;
          margin-top: 15px;
          margin-right: 45px;
        "
      >
        Unfollow
      </button></span
    >
  </div>
</div>
