<div class="text-left">
  <div class="row" style="margin-bottom: 15px">
    <div class="col-2 offset-0" style="width: 20px; border-style: none">
      <img
        class="other-person-profile-image"
        src="assets/img/bayern%20wall.jpg"
      />
    </div>
    <div class="col-2">
      <p id="post-username">Random User</p>
      <p id="post-date">January 24, 2020<br /></p>
      <span
        class="post-tags"
        style="margin: 10px; font-size: 15px; color: #2b9348"
        >Tag 1</span
      >
      <span
        class="post-tags"
        style="margin: 10px; font-size: 15px; color: #2b9348"
        >Tag 2</span
      >
    </div>
  </div>
  <div class="row">
    <div
      class="col"
      style="width: 100%; height: 350px; margin-left: 15px; margin-right: 15px"
    >
      <img class="post-image" src="assets/img/bayern%20wall.jpg" />
    </div>
  </div>
  <div
    class="row"
    style="
      margin-top: 20px;
      font-size: 20px;
      margin-right: 15px;
      margin-left: 15px;
    "
  >
    <div
      class="col text-center"
      style="
        margin-top: 0px;
        margin-right: 0px;
        border-style: solid;
        border-right-style: solid;
      "
    >
      <div style="margin-top: 10px; margin-bottom: 10px">
        <span class="text-center post-action"
          >Favorite  <i class="fa fa-star-o"></i
        ></span>
      </div>
    </div>
    <div
      class="col"
      style="
        text-align: center;
        border-style: solid;
        border-right-style: solid;
        margin-bottom: 0px;
      "
    >
      <div style="margin-top: 10px; margin-bottom: 10px">
        <span class="text-center post-action"
          >Comment  <i class="fa fa-comment-o"></i
        ></span>
      </div>
    </div>
    <div class="col" style="text-align: center; border-style: solid">
      <div style="margin-top: 10px; margin-bottom: 10px">
        <span class="text-center post-action"
          >Add to Playlist  <i class="fa fa-plus-square-o"></i
        ></span>
      </div>
    </div>
  </div>
  <div
    class="row"
    style="
      margin-top: 25px;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 15px;
    "
  >
    <div class="col">
      <p class="post-description">
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
        ipsum<br />
      </p>
    </div>
  </div>
  <div class="row" style="margin-left: 15px; margin-right: 15px">
    <div class="col">
      <div class="media" id="user-comment">
        <img
          class="mr-3 post-comment-image"
          src="assets/img/bayern%20wall.jpg"
        />
        <div class="media-body">
          <h5 class="comment-username">User 1</h5>
          <p class="comment-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            maximus nisl ac diam feugiat, non vestibulum libero posuere. Vivamus
            pharetra leo non nulla egestas, nec malesuada orci finibus.
          </p>
          <span style="margin-left: 625px; color: #2b9348"
            >Reply to Comment</span
          >
          <div class="media" id="user-reply" style="margin-top: 20px">
            <img
              class="mr-3 post-reply-image"
              src="assets/img/bayern%20wall.jpg"
            />
            <div class="media-body">
              <h5 class="reply-username">User 2</h5>
              <p class="reply-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                maximus nisl ac diam feugiat, non vestibulum libero posuere.
                Vivamus pharetra leo non nulla egestas, nec malesuada orci
                finibus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
