<!DOCTYPE html>
<html style="background: #ffffff">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>MusiConnect_home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/assets/css/home_Navigation-with-Search.css" />
    <link rel="stylesheet" href="/assets/css/home_styles.css" />
  </head>

  <body style="font-family: Roboto, sans-serif; background: rgb(235, 235, 235)">
    <%- include("./partials/navbar") %>

    <div
      class="container-fluid"
      style="
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
      "
    >
      <div class="row" style="width: 100%; height: auto">
        <div
          class="col-auto"
          style="
            margin-left: 85px;
            width: 360px;
            height: 300px;
            background: rgba(255, 255, 255, 0);
            border-style: none;
            margin-top: 20px;
          "
        >
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Following</h4>
              <div class="col" id="div-following">
                <div class="following-person">
                  <img
                    id="following-image"
                    src="/assets/img/bayern%20wall.jpg"
                  /><span id="following-person-name">Following person 1</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div id="create-post-div">
            <span
              style="
                background-color: #ffffff;
                border-radius: 50px;
                width: 24px;
              "
              ><img
                id="image-create-post-user-image"
                src="/assets/img/joker.png"
              /><textarea
                id="write-post-text-area"
                placeholder="Write a post"
              ></textarea>
            </span>
            <div class="text-right" style="margin-bottom: 0px">
              <span style="margin-bottom: 0px"
                ><i
                  class="fa fa-music"
                  id="upload-music"
                  style="color: #2b9348"
                ></i
                ><i
                  class="fa fa-video-camera"
                  id="upload-video"
                  style="margin-right: 15px; color: #2b9348"
                ></i
                ><button
                  class="btn btn-primary"
                  id="publish"
                  type="button"
                  style="border-style: none; background: #2b9348"
                >
                  Publish<br /></button
              ></span>
            </div>
          </div>
          <%- include("./partials/post_item") %>
        </div>
        <div
          class="col-auto"
          style="
            margin-left: 75px;
            width: 300px;
            margin-right: 85px;
            border-style: none;
            height: 350px;
            margin-top: 20px;
          "
        >
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Favorite Playlists</h4>
              <div style="margin-bottom: 20px">
                <span style="width: 140px"
                  ><img
                    class="favorite-playlist-image"
                    src="assets/img/joker.png"
                  /><small style="margin-left: 15px">Hype Songs</small></span
                >
              </div>
              <div style="margin-bottom: 20px">
                <span style="width: 140px"
                  ><img
                    class="favorite-playlist-image"
                    src="assets/img/joker.png"
                  /><small style="margin-left: 15px">Hype Songs</small></span
                >
              </div>
              <div style="margin-bottom: 20px">
                <span style="width: 140px"
                  ><img
                    class="favorite-playlist-image"
                    src="assets/img/joker.png"
                  /><small style="margin-left: 15px">Hype Songs</small></span
                >
              </div>
              <a
                class="card-link"
                href="/playlists"
                style="margin-left: 166px; color: #2b9348"
                >View all</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
