<!DOCTYPE html>
<html style="background: #ffffff">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>MusiConnect_profile</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/css/profile_Navigation-with-Search.css"
    />
    <link rel="stylesheet" href="assets/css/profile_styles.css" />
    <link rel="stylesheet" href="assets/css/home_styles.css" />
  </head>

  <body style="font-family: Roboto, sans-serif; background: rgb(235, 235, 235)">
    <%- include("./partials/navbar") %> <%- include("./partials/profile_header")
    %>
    <div
      class="container-fluid"
      style="
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
      "
    >
      <div class="row" style="width: 100%; height: auto">
        <div
          class="col-auto"
          style="
            margin-left: 85px;
            width: 360px;
            height: 300px;
            background: #ffffff;
            border-style: none;
          "
        >
          <h1
            style="
              font-weight: bold;
              font-size: 25px;
              margin-top: 15px;
              margin-left: 15px;
            "
          >
            About
          </h1>
          <p style="margin-left: 15px; margin-bottom: 5px">
            Birthdate: 01/01/2000
          </p>
          <p style="margin-left: 15px; margin-bottom: 5px">Gender: Male</p>
          <p style="margin-left: 15px">Location: Manila, Philippines</p>
          <button
            class="btn btn-primary"
            type="button"
            style="margin-left: 200px"
            data-toggle="modal"
            data-target="#modal-about"
          >
            Edit About
          </button>
          <div
            role="dialog"
            tabindex="-1"
            class="modal fade text-center"
            id="modal-about"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div
                  class="modal-header text-left"
                  style="
                    margin-left: 0px;
                    padding-right: 16px;
                    padding-left: 150px;
                  "
                >
                  <h3
                    class="modal-title text-center"
                    style="width: auto; margin-left: 0px"
                  >
                    Edit Information
                  </h3>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="aboutform">
                    <p class="text-left birthdateform" style="margin-top: 0px">
                      Birthdate<input class="form-control" type="date" />
                    </p>
                    <p class="text-left" style="margin-top: 0px">
                      Location<input
                        type="text"
                        class="form-control genderform"
                      />
                    </p>
                    <p class="text-left" style="margin-top: 0px">Gender</p>
                    <p class="text-left genderform">
                      Male <input
                        type="radio"
                        style="margin-right: 25px; margin-left: 5px"
                      /><span>Female</span
                      ><input type="radio" style="margin-left: 10px" />
                    </p>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    class="btn btn-light"
                    type="button"
                    data-dismiss="modal"
                  >
                    Close</button
                  ><button class="btn btn-primary" type="button">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-auto"
          style="
            width: 900px;
            margin-left: 75px;
            border-style: none;
            background: rgb(235, 235, 235);
            padding: 0px;
          "
        >
          <div
            style="
              height: auto;
              width: 100%;
              background: #ffffff;
              border-style: none;
            "
          >
            <span
              style="
                background-color: #ffffff;
                border-radius: 50px;
                width: 24px;
              "
              ><img
                id="image-create-post-user-image"
                src="assets/img/irish%20flag.jpg"
                style="border-style: none"
              /><textarea
                id="write-post-text-area"
                placeholder="Write a post"
              ></textarea>
            </span>
            <div class="text-right" style="margin-bottom: 0px">
              <span style="margin-bottom: 0px"
                ><i
                  class="fa fa-music"
                  style="
                    margin-right: 15px;
                    margin-bottom: 0px;
                    width: 15px;
                    height: 16px;
                    color: #2b9348;
                  "
                ></i
                ><i
                  class="fa fa-video-camera"
                  style="margin-right: 15px; color: #2b9348"
                ></i
                ><button
                  class="btn btn-primary"
                  id="publish"
                  type="button"
                  style="background: #2b9348; border-style: none"
                >
                  Publish<br /></button
              ></span>
            </div>
          </div>

          <%- include("./partials/post_item") %>
        </div>
        <div
          class="col-auto"
          style="
            margin-left: 75px;
            width: 300px;
            margin-right: 85px;
            height: 350px;
          "
        >
          <div
            class="col-auto"
            style="
              margin-left: 75px;
              width: 300px;
              margin-right: 85px;
              background: #ffffff;
              border-style: none;
              height: 350px;
            "
          >
            <h1
              style="
                font-weight: bold;
                font-size: 25px;
                margin-top: 15px;
                margin-left: 15px;
                margin-bottom: 25px;
              "
            >
              Favorites
            </h1>
            <div style="margin-bottom: 20px">
              <span style="width: 140px"
                ><img
                  src="assets/img/joker.png"
                  style="width: 65px; height: 65px; margin-left: 15px"
                /><small style="margin-left: 15px">Happy playlist</small></span
              >
            </div>
            <div style="margin-bottom: 20px">
              <span style="width: 140px"
                ><img
                  src="assets/img/joker.png"
                  style="width: 65px; height: 65px; margin-left: 15px"
                /><small style="margin-left: 15px">Sad playlists</small></span
              >
            </div>
            <div style="margin-bottom: 20px">
              <span style="width: 140px"
                ><img
                  src="assets/img/joker.png"
                  style="width: 65px; height: 65px; margin-left: 15px"
                /><small style="margin-left: 15px">Hype Songs</small></span
              >
            </div>
            <a
              class="card-link"
              href="/playlists"
              style="margin-left: 166px; color: #2b9348"
              >View all</a
            >
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
