<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>MusiConnect_register</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="assets/css/register_styles.css" />
    <link rel="stylesheet" href="assets/css/register.css" />
  </head>

  <body style="color: #ffe66d">
    <div
      class="register-photo d-flex align-items-center"
      style="color: #f4cd00; height: 100vh; padding: 0px 0px"
    >
      <div class="form-container">
        <div class="image-holder"></div>
        <form
          action="/register"
          method="post"
          style="background-color: #ffe66d; padding: 15px 60px"
        >
          <h2 class="text-center" style="color: rgb(0, 0, 0)">
            <strong>Register&nbsp;</strong>to MusiConnect
          </h2>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Username"
              name="username"
              required="required"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="password"
              name="password"
              placeholder="Password"
              required="required"
            />
          </div>
          <div class="form-group" style="margin-bottom: 16px">
            <input
              class="form-control"
              type="password"
              name="confirm-password"
              placeholder="Confirm password"
              required="required"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="email"
              placeholder="E-mail"
              name="email"
              required="required"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="First name"
              required="required"
              name="firstName"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Last name"
              required="required"
              name="lastName"
            />
          </div>
          <div class="form-group">
            <button
              class="btn btn-primary btn-block"
              type="submit"
              style="
                border-radius: 100px;
                background-color: #00f38d;
                border-style: solid;
                border-color: rgb(0, 0, 0);
                color: rgb(0, 0, 0);
                margin-top: 0px;
              "
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
